<div class="container coasters-index">

  <h1 style="font-weight: 100">{{name}}</h1>

  <h4>Descripción</h4>
  <p>{{description}}</p>
  <p><strong>Longitud: </strong> {{length}}| <strong>Inversiones: </strong> {{inversions}}</p>

  <hr>

  <h5>Sobre el parque</h5>
  {{#each park}}
  <p><strong>Nombre</strong>: {{name}}</p>
  <p><strong>Descripción</strong>: {{description}}</p>
  {{/each}}
  <a href="/coasters/coasters-index" class="btn btn-dark">Volver</a>
  <a href="/coasters/delete/{{_id}}" class="btn btn-dark">Eliminar</a>
  <a href="/coasters/edit/{{_id}}" class="btn btn-dark">Editar</a>
</div>